<p>Bienvenue sur TravelExpress <b id="prenomUtilisateur"></b>!</p>
<ul title="TODO"> TODO
    <li>Connexion des usagers <input type="checkbox" disabled checked></li>    
    <li>Inscription des usagers <input type="checkbox" disabled checked></li>               <!-- checked -->
    <li>Publication d’un voyage <input type="checkbox" disabled checked></li>
    <li>Préférences <input type="checkbox" disabled></li>
    <li>Recherche <input type="checkbox" disabled checked></li>
    <li>Annulation d'un voyage <input type="checkbox" disabled></li>
    <li>Inscription de conducteur <input type="checkbox" disabled checked></li>
    <li>Réservation d'une ou plusieurs places par passager <input type="checkbox" disabled checked></li>
</ul>