<p>Connexion à votre compte TravelExpress</p>
<div style="width:30%">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Adresse mail" aria-describedby="basic-addon1" id="inputMail">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"></span></span>
        <input type="password" class="form-control" placeholder="Mot de passe" aria-describedby="basic-addon1" id="inputPassword">
    </div>
    <br>
    <button type="button" class="btn btn-primary" id="btnConnexion">Connexion</button>
    <button type="button" class="btn btn-success" id="btngoToInscription">Créer un compte</button>
</div>