<p>Utilisez le formulaire ci-dessous pour nous contacter</p>
<div style="width:30%">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Adresse mail" aria-describedby="basic-addon1">
    </div>
    <br>
    <font color="black"><textarea class="form-control" rows="3" placeholder="Votre message"></textarea></font>
    <br>
    <br>
    <button type="button" class="btn btn-primary">Envoyer</button>
</div>