<p>Créez votre compte TravelExpress</p>
<div style="width:30%">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
        <input type="text" class="form-control"  id="inputPrenomInsc" placeholder="Prénom" aria-describedby="basic-addon1">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
        <input type="text" class="form-control" id="inputNomInsc" placeholder="Nom" aria-describedby="basic-addon1">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input type="text" class="form-control" id="inputMailInsc" placeholder="Adresse mail" aria-describedby="basic-addon1">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-phone-alt"></span></span>
        <input type="text" class="form-control" id="inputTelInsc" placeholder="Telephone" aria-describedby="basic-addon1">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"></span></span>
        <input type="password" class="form-control"  id="inputPasswordInsc" placeholder="Mot de passe" aria-describedby="basic-addon1">
    </div>
    <br>
    <button type="button" class="btn btn-primary" id="btnInscription">Créer un compte</button>
    <button type="button" class="btn btn-success" id="btnAnnulerInscription">Annuler</button>
</div>